body {
    text-align: center;
    width: 100%;

}

.icon {
    margin-bottom: 1rem;
    color: #ef8172;
}

.cover-hibki {
    width: 90%;
    height: 90%;
    left: 1px;
    top: 0px;
    /* border:1px red solid;
    position: relative; */
    background-size: contain;

 
  
}

h1{
    position: absolute;

    
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="cover-hibki"] {
      width: 100%;
    }
  }